#contact{
    margin-left: 1vw;
    height: 65vh;
    width: 13vw;
    border: dotted;
    padding-left: 1vw;
    border-radius: 5pt;
    position: static;
    background-color: #5e5c5cd0;
    border-color: red;
}