@import "variables.css";
@import "body.css";
@import "navbar.css";
@import "header.css";
@import "about.css";
@import "project.css";
@import "contact.css";
@import "footer.css";

.aboutMe{
    text-align: center
}

.projects{
    text-align: center
}


p{
    text-align: center
}

nav {
    z-index: 1;
}

footer{
    z-index: -1;
}

#contact{
float: left;
}

.quotes{
    float: right 100px;
    color: white;
    z-index: -1;
}